
.icon-down-open-mini:before { content: '\e800'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */